.comment-box {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: flex-end;
   background: #fff;
   padding: 0px 20px;
   font-size: 13px;

}

.comment-text {
   margin-right: 10px;
}

.delete {
   background-color: #fb4144;
   color: #fff;
   padding: 10px 15px;
   font-size: 10px !important;
}

.delete:hover {
   background-color: #bd2f32;
}

.edit {
   background-color: #808082;
   color: #fff;
   padding: 10px 15px;
   margin-right: 10px;
   font-size: 10px !important;
}

.edit:hover {
   background-color: #616161;
}